<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogToConsole="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>
    <targets>
        <target name="file" xsi:type="File" fileName="logs/${shortdate}.log" layout="[${level:uppercase=true}] ${longdate} ${message}" createDirs="true" archiveFileName="logs/archives/${shortdate}.{#}.log"
                archiveEvery="Day"
                archiveNumbering="Rolling"
                maxArchiveFiles="50"
                archiveAboveSize="1024"/>
        <target name="console"  xsi:type="Console" layout="${MicrosoftConsoleLayout}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Warn" writeTo="file" />
        <logger name="*" minlevel="Info" writeTo="console" />
    </rules>
</nlog>